<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="controller1" class="cigma.pfe.controllers.ClientController" scope="prototype">
        <property name="clientService" ref="cltservice"></property>
    </bean>
    <bean id="cltservice" class="cigma.pfe.services.ClientServiceImpl" scope="prototype" >
    </bean>
    <bean id="cltrepi" class="cigma.pfe.repositories.ClientRepositoryImpl" scope="prototype">
    </bean>
</beans>